
*,::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

/*   font-family: "Fraunces", serif; */
/*   font-family:  */


html {
    font-size: 62.5%;

}



.img img {
    width: 100%;
    height: auto;
    display: block;
    
}

body {
    font-family: "Montserrat", sans-serif;
    background-color:  hsl(30, 38%, 92%);
    font-size: 1.4rem;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.container {
    margin: 3rem auto;
    padding: 3rem;
}

.grid {

    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 70rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 1.5rem;
    overflow: hidden;

}


.card-content {
    padding: 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pro-cat {
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-size: 1.3rem;
    color: hsl(228, 12%, 48%);
    font-weight: 500;

}

.pro-name {

    font-family: "Fraunces", serif;
    font-weight: 700;
    font-size: 3.4rem;
    color:  hsl(212, 21%, 14%);
}

.pro-des {
    color: hsl(228, 12%, 48%);
    line-height: 2;

}

.price {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.current-price {
    font-family: "Fraunces", serif;
    color:  hsl(158, 36%, 37%);
    font-size: 3.4rem;

}

.old-price {
    color: hsl(228, 12%, 48%);

    text-decoration: line-through;
}

.cta {
    background-color:hsl(158, 36%, 37%);
    border: none;
    padding: 1.6rem 0;
    color: hsl(0, 0%, 100%);
    border-radius: 1.2rem;
    font-weight: bolder;
    cursor: pointer;
    transition: background-color .3s ease;
    width: 100%;
}

.btn-img {
    padding-right: 0.7rem;
}

.cta:hover {

    background-color:hsl(158, 36%, 23%);

}

@media only screen and (max-width:640px){
     .grid {
        grid-template-columns: 1fr;
     }

     .img img {
        max-height: 450px;
        width: 100%;
        object-fit: cover;
     }

     .card.content {
        display: block;
     }

     .pro-cat,
     .pro-name,
     .pro-des,
     .price {
        padding-bottom: 2.4rem;
     }
}

@media only screen and (max-width:375px){

    .container {
        margin: 1.5rem auto;
        padding: 0 1.5rem;


    }

    .img img {
        width: 100%;
       display: block;
    }

    .card-content {
        padding: 2.4rem;

    }

    .pro-cat,
     .pro-name,
     .pro-des,
     .price {
        padding-bottom: 1.6rem;
     }

     .pro-name{
        font-size: 2.8rem;
     }

     .pro-des {
        font-size: 1.2rem;
     }

     .current-price{
        font-size: 2.3rem;
     }

     .cta {
        padding: 1rem 0;
        font-size: 1.8rem;
     }
    
}





















.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }